<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Упс</title>
    <link rel="stylesheet" href="/static/styles/null.css">
    <link rel="stylesheet" href="/static/styles/failure.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="content__header">Что-то пошло не так</div>
            <div class="content__image"><img src="/static/assets/failure_sticker.png" alt="ошибка"></div>
            <div class="content__message">Кажется, что-то сломалось. Свяжитесь с администратором или попробуйте позднее. Просим прощения за доставленные неудобства.</div>
            <a href="https://t.me/nik4vkbot" class="content__link">Нажмите, чтобы перейти обратно в бота</a>
        </div>
    </div>
</body>
</html>