<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Успешно!</title>
    <link rel="stylesheet" href="/static/styles/null.css">
    <link rel="stylesheet" href="/static/styles/success.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="content__header">Вы успешно зарегистрировались!</div>
            <div class="content__image"><img src="/static/assets/success_sticker.png" alt="Галочка"></div>
            <a href="https://t.me/nik4vkbot" class="content__link">Нажмите, чтобы перейти обратно в бота</a>
        </div>
    </div>
</body>
</html>